/* CSS Variables */
:root {
    --main-radius: 5px;
    --primary-color: white;
    --secondary-color: #333333;
    --main-padding: 10px;
    --main-margin: 10px;

}

/* CSS Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header styles */
.header-block {
    position: sticky;
    top: 0;
    background-color: rgb(99, 230, 171);
    padding-bottom: var(--main-padding);
    border-radius: 0 0 var(--main-radius) var(--main-radius)
}

.header__h1 {
    color: var(--secondary-color);
    margin: 0 0 10px 0;
    text-align: center;
}

.nav__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    margin: 0 var(--main-margin);
    gap: 3px;
}

/* Main styles */
.main-block {
    padding: var(--main-padding);
    min-height: calc(100dvh - 80px);
}

.hero {
    text-align: center;
    & h2 {
        color: rgb(30, 58, 113);
        line-height: 1.5em;
        font-size: 16px;
        & span {
            color: blueviolet;
            font-size: 1.3rem;
            text-decoration:underline;
        }
    }
}

.cards-block {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
}

.cards-block__card {
    border-radius: var(--main-radius);
    padding: var(--main-padding);
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.3s ease-out;
    background-color: transparent;
    color: black;

    &:hover {
        background-color: #333333;
        color: white
    }
}

.cards-block__card_orange {
    border: 2px solid orange;
}

.cards-block__card_yellow {
    border: 2px solid yellow;
}

.cards-block__card_green {
    border: 2px solid green;
}

.cards-block__card_black {
    border: 2px solid black;
}

/* Footer styles */
.footer-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-top: 1px solid black;
    margin: var(--main-margin);

    & button {
        margin: var(--main-margin) 0;
    }
}

.button {
    border-radius: var(--main-radius);
    border: none;
    transition: color 0.2s ease-in-out;
    cursor: pointer;
    color: var(--primary-color);
    background-color:rgb(113, 139, 192);

    &:hover {
        color: var(--primary-color);
        background-color: var(--secondary-color)
    }
}